{% extends 'base.html' %}

{% block content %}
<style>
   #map {
    height: 700px;
    width: 100%;
   }
</style>
<div id="map"></div>
<script>
  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: 41.122037, lng: -95.923325},
    });

    var marker = new google.maps.Marker({
      position: {lat: 41.122037, lng: -95.923325},
      map: map,
      title: 'MFMC',
    });

    marker.addListener('click', function() {
        map.setZoom(8);
        map.setCenter(marker.getPosition());
    });

  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_KEY }}&callback=initMap">
</script>

{% endblock %}