{% extends 'base.html' %}

{% block content %}

{% include 'flash.html' %}

<div class="jumbotron">
    <form action="/accounts/profile/" method="post">{% csrf_token %}
	<table id="profile-table" class="table table-striped table-hover table-condensed">
        {{ form.as_table }}
    </table>
        <div class="text-right">
            <input type="submit" class="btn btn-default" value="Save">
        </div>
    </form>
</div>
{% endblock %}