<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ TITLE }}</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<div class="container">
  <!-- MOBILE -->
  <div class="visible-xs-block visible-sm-block mobile">
    <section>
      <!-- Temporary; will be changed to GPS/ID redirect. -->
      <a href="tel:{{ ORG_PHONE }}"><button type="button" class="btn btn-primary btn-block" style="height:3em;font-size:2em;">Call {{ ORG_ACRONYM }}</button></a>
    </section>
    <section>
      <p style="font-size:1.8em;">OR DIAL: {{ ORG_PHONE_DISPLAY }}</p>
    </section>
    <section>
      <p class="disclaimer" style="font-size: 0.8em;">{{ DISCLAIMER }}</p>
    </section>
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills">
          {% include "navbar.html" %}
        </ul>
      </nav>
    </div>
  </div>
  <!-- END MOBILE -->
  <!-- DESKTOP HEADER -->
  <div class="visible-md-block visible-lg-block">
    <div class="header clearfix">
      <div class="col-md-8" style="margin-bottom:1em;">
        <h1 class="text-muted">{{ ORG_NAME }}</h1>
        <p class="text-muted" style="font-size:0.75em">{{ DISCLAIMER }}</p>
      </div>
      <div class="col-md-4">
        <h2 class="text-muted" style="text-align:right">{{ ORG_PHONE_DISPLAY }}</h2>
      </div>
      <div class="col-md-12">
        <nav>
          <ul class="nav nav-pills pull-right">
            {% include "navbar.html" %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- END DESKTOP HEADER -->

{% block content %}
{% endblock %}

</div>
<footer class="footer">
  <div class="container">
    <p class="pull-left">
      {% if FACEBOOK %}
      <a href="https://facebook.com/{{ FACEBOOK }}">
        <img src="{% static 'img/facebook-logo.png' %}" alt="{{ FACEBOOK }} On Facebook" height="35px" width="35px"/>
      </a>
      {% endif %}
      {% if TWITTER %}
      <a href="https://twitter.com/{{ TWITTER }}">
        <img src="{% static 'img/twitter-logo.png' %}" alt="{{ TWITTER }} on Twitter" height="35px" width="35px"/>
      </a>
      {% endif %}
    </p>
    <p class="text-muted pull-right">
      Powered By <a href="https://bitbucket.org/unofficialusafresourcedev/ad2dispatch">ad2dispatch</a>
    </p>
  </div>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
